* {
    box-sizing: border-box;  
}
body {
    margin: 0px;
    padding: 0px;
}
/* ***************start: page container*************/

.page-actions-container{
    height: 3rem;
    background-color: #218c74;
    display: flex;  
    align-items: flex-end;
}
.page-action{
    width: 3.5rem;
    height: 2rem;
    text-align: center;
    color: #f1f2f6;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected-page-action {
    background-color: #f1f2f6;
    color: #218c74;
}

/* ***************end: page container*************/

/* ***************start: cell  properties container*************/
.cell-properties-container {
    /* border: 1px solid red; */
    height: 3rem;
    background-color: #ecf0f1;
    align-items: center;
    display: flex;
    gap:0.5rem;
    padding-left:0.5rem;
}
.cellprop-actions-cont > * {
    display: inline-block;
    margin-right: 1rem;
}

.cell-properties-container > select{
    padding: 0.2rem;
    /* border: none; */
    outline: none;
}

.cell-properties-container > *:hover{
    cursor: pointer;
}
.font-size-prop{
    width:10%;
}
.font-family-prop{
    width:20%;    
}
.color-prop{
    position: relative;
}
.color-prop > input{
opacity: 0;
position: absolute;
top:0;
left: 0;
height: 100%;
width: 100%;
}
/* ***************end: cell  properties container*************/

/* ***************start: formula container*************/
.formula-container{
    height: 2rem;
    background-color: #ecf0f1;
    padding-left: 1rem;
    display: flex;
    align-items: center;
}
.formula-container > *{
    display: inline-block;
    margin-right: 0.7rem;
}
.formula-icon {
    width: 1.2rem; 
}
.address-bar {
    width: 5rem;
    text-align: center;
}
.formula-bar {
    width: calc( 100vw - 5rem - 0.7rem - 0.7rem - 0.7rem );
}
.formula-bar::placeholder {
    color: black;
  }
  
.formula-actions-cont > input {
    border: none;
    outline: none;
    height: 70%;
}

/* ***************end: formula container*************/


/* ***************start: grid container*************/
.grid-container {
height: calc( 100vh - 3rem - 3rem - 2rem - 3rem );
    position: relative;
    overflow: scroll;
    background-color: #ecf0f1;
}
.top-left-dummy-box{
    width: 2rem;
    height: 2rem;
    background-color: #747d8c;
    position: fixed;
    z-index: 4;
}
.address-col-cont{
    position: sticky;
    top:2rem;
    left:0rem;
}
.cells-cont{
    position: absolute;
    top:0rem;
    left:2rem;
}
.address-row-cont{
    display: flex;
    position: sticky;
    top:0; 
    left:2rem;
}
.address-row{
    width: 5rem;
    height: 2rem;
    border: 1px solid #dfe4ea;
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-col{    
    width: 2rem;
    height: 2rem;
    border: 1px solid #dfe4ea;
    text-align: center;
}
.row-cont{
    display: flex;
}
.cell{
    height: 2rem;
    width: 5rem;
    border: 1px solid #dfe4ea;
    outline: none;
}
/* ***************end: grid container*************/

/* ***************start: sheet container*************/
.sheet-container{
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    gap: 1rem;
    background-color: #ecf0f1;
}
.sheet-container > * {
    display: inline-block;
}
.sheet-add-icon {
    width: 2vw;
}
.sheet-add-icon:hover { 
    cursor: pointer;
}
.sheets-folder-cont {
    display: flex;
    align-items: center;
    height: 80%;
    width: 5rem;
    width: calc( 100vw - 2vw );
    overflow: auto;
}
.sheet-folder {
    height: 80%;
    text-decoration: underline;
    font-weight: bold;
    text-decoration-thickness: 3px;
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sheet-folder:hover{
    cursor: pointer;
}
.sheet-content {
    width: 5rem;
    /* background-color: lightgreen; */
}

/* ***************end: sheet container*************/